[user]
email = julien.laurenceau@pepitedata.com
name = Julien Laurenceau

[credential]
helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret

[merge]
#ff = false
tool = meld

[diff]
tool = meld

[difftool]
prompt = false

[pull]
rebase = true

[push]
followTags = true

[alias]
c = commit
co = checkout
unstage = reset HEAD --
last = log -1 HEAD
slog = log --graph --all --topo-order --pretty='format:%h %ai %s%d (%an)'
st = status -sb
p = push
pfl = push --force-with-lease
f = fetch -v --all -t -f -p -P
m = merge --squash --no-commit -Xtheirs
# restore_from_origin = reset --hard @{u}
# compaction of recent history git reset --soft HEAD@{2}

[cola]
spellcheck = false
