# /lib/systemd/system/cassandra.service

# groupadd data ; useradd -g data cassandra; export cver=2.2.16; mkdir -p /var/lib/cassandra /var/log/cassandra-${cver} /data/cassandra-${cver}/commitlog /home/data/cassandra/${cver}/cdc_raw /home/data/cassandra/${cver}/data /home/data/cassandra/${cver}/data/hints /home/data/cassandra/${cver}/saved_caches ; chown -R cassandra:data /var/lib/cassandra /data/cassandra-${cver}/commitlog /home/data/cassandra /var/log/cassandra-${cver}
# groupadd data ; useradd -g data cassandra; export cver=2.2.16; export CASSANDRA_HOME=/opt/apache-cassandra-${cver} ; mkdir -p /var/lib/cassandra ${CASSANDRA_HOME}/logs ${CASSANDRA_HOME}/data/commitlog ${CASSANDRA_HOME}/data/cdc_raw ${CASSANDRA_HOME}/data/data ${CASSANDRA_HOME}/data/hints ${CASSANDRA_HOME}/saved_caches ; chown -R cassandra:data /var/lib/cassandra ${CASSANDRA_HOME}
# groupadd data ; useradd -g data cassandra; export cver=4.1.3; mkdir -p /var/lib/cassandra /var/log/cassandra-${cver} /data/cassandra-${cver}/commitlog /home/data/cassandra/${cver}/cdc_raw /home/data/cassandra/${cver}/data /home/data/cassandra/${cver}/data/hints /home/data/cassandra/${cver}/saved_caches ; chown -R cassandra:data /var/lib/cassandra /data/cassandra-${cver}/commitlog /home/data/cassandra /var/log/cassandra-${cver}

# rm -rf  /opt/apache-cassandra-${cver}/data/* /var/log/cassandra-${cver}/* /opt/apache-cassandra-${cver}/saved_caches/*


[Unit]
Description=Cassandra
After=network.target
Wants=cassandra_exporter.service

[Service]
PIDFile=/var/lib/cassandra/cassandra.pid
User=cassandra
Group=data
#suse 
#Environment=JAVA_HOME=/usr/lib64/jvm/java-1.8.0-openjdk
# centos 
#Environment=JAVA_HOME=/usr/lib/jvm/jre-1.8.0
# ubuntu
#Environment=JAVA_HOME=/usr/lib/jvm/java-1.8.0-openjdk-amd64
Environment=JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64
# NOT FOR PRODUCTION
Environment=LOCAL_JMX=no
Environment=CASSANDRA_LOG_DIR=/var/log/cassandra-4.1.3
ExecStartPre=- /sbin/swapoff -a
ExecStartPre=- /bin/chown -R cassandra /opt/cassandra
ExecStart=/opt/apache-cassandra-4.1.3/bin/cassandra -f -p /var/lib/cassandra/cassandra.pid
StandardOutput=journal
StandardError=journal
LimitNOFILE=100000
LimitMEMLOCK=infinity
LimitNPROC=32768
LimitAS=infinity
Restart=no
TimeoutStopSec=60
TimeoutStartSec=60

[Install]
WantedBy=multi-user.target
