# /lib/systemd/system/cassandra_exporter.service

[Unit]
Description=Cassandra Exporter (from criteo) for monitoring using prometheus
After=network.target

[Service]
Restart=on-failure
User=cassandra
ExecStart=/usr/bin/env java -jar /opt/cassandra_exporter/cassandra_exporter.jar /opt/cassandra_exporter/config.yml
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=cassandra.service
