# for ns in $(kubectl get ns -o custom-columns=NAME:.metadata.name --no-headers 2>/dev/null | grep -v -e "^kube-" -e "-system$" -e default); do kubectl -n $ns apply -f ./cron-delete-old-pods.yaml; done
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: delete-old-pods
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: delete-old-pods
rules:
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "list", "delete"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: delete-old-pods
subjects:
  - kind: ServiceAccount
    name: podclean
roleRef:
  kind: Role
  name: delete-old-pods
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: delete-old-pods
spec:
  schedule: "*/10 * * * *"
  failedJobsHistoryLimit: 2
  successfulJobsHistoryLimit: 2
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app.kubernetes.io/name: delete-old-pods
        spec:
          restartPolicy: Never
          serviceAccountName: delete-old-pods
          containers:
          - name: delete-old-pods
            image: pepitedata/kube-delete-old-pods:edge
            imagePullPolicy: Always
            resources:
              requests: 
                cpu: "250m"
                memory: "200M"
              limits: 
                cpu: "250m"
                memory: "200M"
            env:
            - name: MAX_AGE_HOURS
              value: "1"
            - name: MAX_AGE_PENDING_HOURS
              value: "1"
          imagePullSecrets:
            - name: all
